# Setup file for login form.
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Take time to read each comments to understand what each config item
# will impact the engine.
# There is a References section below to help you know which values
# you can use.
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Application]
# Name is your application's name.  It's shown at the top of the
# login page - header -, and as the page title - browser -.
Name="SSTM"
# RedirectPage is used to tell on which page the user should be
# redirected after a successful login.
RedirectPage="sstm.php"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Database]
# Credentials to connect to your MySQL database.
Host="localhost"
User="root"
Password="root"
Database="sstm"
Port=8889
# Name of the MySQL Table that contains your User accounts.
UserTableName="user"
# Name of the MySQL Column that stores the user login - or email -.
# Adjust the setting GUI/UserLabel consequently.
UserCodeField="Email"
# Name of the MySQL Column that stores the user password.  The
# password must be hashed using PHP function 'password_hash', using
# the Default Algorithm.
UserPasswordField="Passwd"
# Name of the MySQL Column that stores the user ID.  Normally, you
# should have an internal ID for each of your users.  This ID will
# be used by the Engine at some points to refer to the record.
UserIdField="ID"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[GUI]
# AppIcon is the name of the icon you want to display just above the
# Application/Name.  See the following page to get all available icons:
# https://semantic-ui.com/elements/icon.html
AppIcon="gem outline"
# Text to display beside the 'User Code' prompt.  This should represent
# the type of data that is stored in the column you set in Database/UserCodeField.
UserLabel="Email"
# Text to display beside the 'Password' prompt.
PasswordLabel="Password"
# Text to display on the separator between the login form and the
# other options - if you have activated some -.  The text should be 
# really short because it's a very small flag.
SeparatorLabel="Or"
# Text to display on the button of the login form.
LoginButtonLabel="Login!"
# Color of the button of the login form.  See colors in References.
LoginButtonColor="blue"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Literal]
# Text to display if the user did not entered a correct password.
BadPassword="Bad Password"
# Text to display if a user code is not found in the database.  You
# can use the placeholder %s that will be replaced by the user code
# entered by the user.
NoUserFound="User <strong>%s</strong> not found."
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[Registration]
# If you want to activate the Registration feature, enter Y.
Enabled="N"
# Text to display on the button to start the Registration process.
Invite="Register Here"
# Color of the Registration button.
Color="blue inverted"
# MySQL Table Columns names for prompts to ask to the user, separated
# by a coma.  e.g.: userDisplayName,userGender,userLanguage.
Fields="Name"
# MySQL Table columns names that should be unique in your database.
# This feature will control duplicates users.  The engine will
# check if submited data already exists for those fields, and 
# refuse the new registration if an existent data is found.  
# You will usually enter here the User Code and/or User Email column
# name.  All separated by a coma.
Uniques="Email"
# Labels for each of MySQL Columns asked to the user, separated by 
# a coma.  e.g.: Display Name,Genrer,Language.
Labels="Display Name"
# Type of data for each MySQL Table Columns names for prompts.  Please
# use the following types.  If the code gets an unknown type, it will
# change it to a text type.  Separated by a coma character.
# text, email, date.
Types="text"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
[PasswordReset]
# If you want to allow users to reset their password themselves, enter Y.
Enabled="Y"
# Text to display on the button to start the Reset Password process.
Invite="Reset Password"
# Color of the Password Reset button.
Color=""
# MySQL Table Column Name for the user Email address.  The temporary
# password will be sent there.
EmailField="Email"
# MySQL Table Column Name to flag a user with an expired password, or
# to force the user to change its password at next login.  The column
# should be set with a data-type TinyINT, default 0.  When set to 1, the
# system will ask the user to change its password.
ExpiredField="PasswdExpired"
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# References
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Colors:
#   red, orange, yellow, olive, green, teal, blue, violet, purple
#   pink, brown, grey, black.
# Buttons:
#   Add keyword 'basic' to have only border instead of a filled button.
#   Add keyword 'inverted' to display a button on a dark background.
# Icons:
#   See this page: https://semantic-ui.com/elements/icon.html
#
